<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<link rel="stylesheet"  href="{% static 'maloneyWebApp/css/bootstrap.css' %}">
</head>
  <body>
    <header>
      {% include 'maloneyWebApp/nav.html' %}
    </header>

    <h1>Hello, world!</h1>



    <script src="{% static 'maloneyWebApp/js/jquery.js'%}"></script>
    <script src="{% static 'maloneyWebApp/js/popper.js'%}"></script>
    <script src="{% static 'maloneyWebApp/js/bootstrap.js'%}"></script>  
  </body>
</html>